[2013-12-03 01:43] jonathanong opened #5 "fallback"
since not all platforms are supported, for example ARM most likely, is there a way to fallback to the regular JS version? it doesn't have to be part of this module - just some documentation would be nice. ex, `optionalDependencies` and try/catch the `require("sse4_crc32")`.

also, the docs should read something like "Beginning with Nehalem, Intel processors...". currently, it sounds like only thos

[2014-03-01 00:30] pocesar opened #13 "Doesn't seem to work with windows"
I'm on Windows 7 64 bits:
[code]

when trying to run tests:

[code]

the weird negative integer exit code seems like the generated .node binding is broken.

[2014-10-10 12:20] idy opened #15 "Cannot build with node 0.11.14"
[code]

[2015-01-14 05:27] pierreinglebert commented on #15
it's fixed in https://github.com/Voxer/sse4_crc32/pull/14

[2015-01-14 17:50] anandsuresh commented on #15
Just released v2.1.1 with #14 merged. Please update your dependencies.

[2015-01-14 17:50] #15 closed

[2015-01-25 05:04] georgzoeller opened #16 "Won't compile on node 0.11.15"
The package fails to compile on 0.11.15 (unstable) due to breaking changes in v8 bindings

[2015-01-25 05:05] anandsuresh commented on #16
Can you please paste in a compile log?

[2015-02-05 23:18] ryanseys opened #17 "Cannot compile on io.js 1.0.4"
[code]

[2015-02-06 23:11] #17 closed

[2015-03-03 19:57] mranney opened #19 "readme doesn't explain initial_crc"
It would be better to update the readme to explain that exports.calculate() takes (input, initial_crc). The example only shows "input".

[2015-03-03 20:38] anandsuresh commented on #19
Fixed by commit 0ac8a85

[2015-03-03 20:39] #19 closed

[2015-03-05 09:58] mahtuag opened #20 "illegal hardware instruction (core dumped) on Intel Penryn CPU"
I have a laptop running an [Intel T4400](http://ark.intel.com/products/40739/Intel-Pentium-Processor-T4400-1M-Cache-2_20-GHz-800-MHz-FSB-Socket-P) (Core 2 architecture 45nm Penryn; SSE4 not natively supported [as you can see here](http://en.wikipedia.org/wiki/List_of_Intel_Pentium_microprocessors#.22Penryn-3M.22.2C_.22Penryn-L.22_.2845_nm.29)), Fedora 21 x86_64 and Node.js installed from the offic

[2015-03-05 10:04] mranney commented on #20
Is it possible that the machine which compiled this module is different than the machine on which it is running?

[2015-03-05 10:45] mahtuag commented on #20
Nope. I did an npm install after manually removing the node_modules folder to ensure that the latest version of sse4_crc32 is used and compiled on my machine directly.

[2015-03-05 11:42] mranney commented on #20
That's strange. It sounds like your compiler is generating code for your machine that won't actually run on your machine.

Internally, we use these compiler intrinsics here:

https://github.com/Voxer/sse4_crc32/blob/master/src/crc32c.c#L55

And we try to tell the compiler to do the right thing here:

https://github.com/Voxer/sse4_crc32/blob/master/binding.gyp#L14

But somehow, this isn't working f

[2015-03-05 15:36] mahtuag commented on #20
Looking at https://github.com/Voxer/sse4_crc32/blob/master/binding.gyp#L14 it seems you are setting a compiler flag to explicitly enable SSE4.2. I'm not familiar with node-gyp but I suppose the cflags are simply passed on to GCC. My machine doesn't support SSE4.2 (nor do most pre-Nehalem CPUs I believe).

Looking at https://github.com/Voxer/sse4_crc32/blob/master/src/crc32c.c you seem to be using

[2015-03-05 17:48] anandsuresh commented on #20
@mahtuag There are 2 issues at play here.

1. gcloud-node has a dependency on fast-crc32c by @ashi009 which implements a software fallback when no hardware acceleration is available. So on your non-SSE 4.2 platform, the fast-crc32c library should be using the software fallback option. Since you're still getting the build error, it seems that there may be an issue with the build chain wherein it is

[2015-03-05 22:03] ashi009 commented on #20
TLDR. I don't think failed to build on non supporting platforms is a bug.
And it makes the project name worth its salt.

As software fallback within this package needs lots of work. Which is not
as simple as the npm's optional dependency mechanism.

On the other hand if you done it wrong, it would affect hardware
implementation performance. The earlier PR to add software fallback,
detects SSE4.2 s

[2015-03-08 23:49] anandsuresh commented on #5
Finally got to the software fallback implementation @mranney. Turns out that h/w acceleration only gives you a speed up of 2x compared to the table-based lookup implementation in C. Both C/C++ versions of the function are still 1-2 orders of magnitude faster than pure JS.

[2015-03-08 23:49] #5 closed

[2015-03-08 23:49] anandsuresh commented on #20
@mahtuag Check out version 3.0.0 of the library. This version implements a fallback feature as well for older systems. Perhaps this can fix the issue you are seeing.

[2015-03-08 23:50] anandsuresh commented on #16
@georgzoeller Feel free to check if v3.0.0 of this library works for you. If not, please feel free to reopen this ticket.

[2015-03-08 23:50] #16 closed

[2015-03-08 23:52] anandsuresh commented on #13
@pocesar Please check if version 3.0.0 solves your problem. If not, please feel free to reopen this ticket.

[2015-03-08 23:52] #13 closed

[2015-03-14 21:38] martinmicunda opened #22 "Cannot compile on io.js 1.5.1"
[code]

[2015-03-14 21:43] bahamas10 commented on #22
[code]

it seems like this may be the problem

[2015-03-14 21:57] martinmicunda commented on #22
thanks that's fixed my problem

[2015-03-14 21:57] #22 closed

[2015-03-15 02:51] anandsuresh commented on #20
Closing this. Please reopen if problem persists.

[2015-03-15 02:51] #20 closed

[2015-03-17 05:46] ashi009 opened #24 "flawed cpu id detection"
New version's CPU feature detection is flawed.

As it consider my CPU doesn't support SSE 4.2.

CPU ID:
[code]

Environment:
[code]

[2015-04-02 15:15] Ayms opened #26 "Binary format"
Please see https://github.com/ashi009/node-fast-crc32c/issues/2, the same problem occurs with sse4_crc32

[2015-04-02 16:43] anandsuresh commented on #26
@Ayms I modified your code to be able to run it from the command line by adding the following line to the bottom of the index.js file:
[code]

Then I run the following:
[code]

Can you confirm that the output is correct?

[2015-04-02 16:55] Ayms commented on #26
Yes, it is the problem occurs when the first byte to process is outside of the normal ascii range, so for generate_id('21.75.31.124',86) for example (21 becomes 0xc1 to process)

See https://github.com/ashi009/node-fast-crc32c/issues/2, apparently it's not an issue for @ashi009

I don't know what is specified for crc32c regarding representations that can have more than one byte.

But since other i

[2015-04-02 18:15] anandsuresh commented on #26
The CRC calculation functions in this module expect a Buffer or a String. If you don't pass in a buffer, the input is treated as a UTF-8 encoded string.

I'd recommend passing in a binary-encoded buffer. That should fix the problem you are facing.

[2015-04-02 18:26] anandsuresh commented on #24
Fixed in release v3.1.0.

[2015-04-02 20:09] Ayms commented on #26
Yes, that's not a problem for me, it's fixed, but you might consider an option or at least document it a bit better for others, it's not easy to get for people not used to CRC32C calculation, because you pass a "string" which in fact is interpreted as the hex representation of the "string", not knowing exactly how this is done, while probably most of c++ libs just handle it byte by byte, ie non ut

[2015-04-03 15:45] anandsuresh commented on #26
Thanks for the feedback @Ayms. Will update the docs to make the encoding issue clearer.

[2015-04-03 15:45] #26 closed

[2015-04-03 17:35] Ayms commented on #26
Thanks, I have tried to explain it too on bittorrent-nodeid repo

[2015-04-09 21:03] #24 closed

[2015-05-08 01:22] mavrick opened #29 "Unable to npm install on windows"
D:\>npm install sse4_crc32
\

D:\node_modules\sse4_crc32>node "C:\Program Files\nodejs\node_modules\npm\bin\node-gyp-bin\\..\..\node_modules\node-gyp\bin\node-gyp.js" rebuild
Building the projects in this solution one at a time. To enable parallel build, please add the "/m" switch.
  sse4_crc32.cpp
..\src\sse4_crc32.cpp(64): error C2065: '__asm__' : undeclared identifier [D:\node_modules\sse4_crc3

[2015-05-22 04:07] thanhlcm90 commented on #29
Same problem too:

D:\NodeJs\store_management\sources\server_api\node_modules\sse4_crc32>node "C:\Program Files\nodejs\node_modules\npm\bin\node-gyp-bin\\..\..\node_modules\node-gyp\bin\node-gyp.js" rebuild
child_process: customFds option is deprecated, use stdio instead.
Building the projects in this solution one at a time. To enable parallel build, please add the "/m" switch.
  sse4_crc32.cpp
..

[2015-05-24 16:29] dmtrs opened #30 "Fail to build with iojs v2.0.1 and npm v2.9.1"
I am using `nvm` to manage node versions and althought the code is build with `v0.12` of node. I can not understand why it is not possible with `v2.0.1` which is `iojs`. Here is the npm-debug.log

[code]

[2015-05-24 18:33] anandsuresh commented on #30
@dmtrs  Can you please send me more information about the platform on which you are seeing this?

[2015-05-25 21:17] dmtrs commented on #30
Moved to `iojs v.2.1.0` and system update resolved the issue

[2015-05-25 21:17] #30 closed

[2015-05-29 02:24] MystK commented on #29
Any fix for this? I am getting the same issue.

[2015-05-29 02:25] anandsuresh commented on #29
Sorry guys but I haven't had a chance to do any kind of testing on Windows environments. And given my current work-load, I am not certain if I'll be able to get to it anytime soon. Feel free to send me a PR though.

[2015-06-09 08:31] Thessalie commented on #29
Same problem here too. No gcloud in windows environment ?

[2015-06-09 19:04] anandsuresh commented on #29
Given the number of people this is starting to affect, I'm going to take a peek into this issue over the upcoming weekend.

[2015-06-10 04:10] pmarrapese commented on #29
Same problem here on Win7 x64:

[code]

[2015-06-12 19:08] Thessalie commented on #29
Thank you Anan ! On Windows 8 there's this problem about node-gyp trying to find msbuild.exe and failing each time occuring with any compiling module. The code is there but I dont have a clue on how to fix it C:\Program Files\nodejs\node_modules\npm\node_modules\node-gyp\lib\build.js:267:23

[2015-06-12 19:52] ivan commented on #29
VS doesn't have an \_\_asm__, or even an __asm when compiling in 64-bit mode.  I think you have to use `__cpuid` instead:

https://msdn.microsoft.com/en-us/library/hskdteyh.aspx

GCC also has a way to get cpuid data without assembly code:

http://stackoverflow.com/questions/14266772/how-do-i-call-cpuid-in-linux/14266932#14266932

[2015-06-12 21:38] anandsuresh commented on #29
@ivan Thanks for the links. I had to go the assembly route because we needed this to work on SmartOS/Solaris (our primary platform) on which I couldn't find any cpuid related documentation.

[2015-06-13 21:28] anandsuresh commented on #29
@Thessalie @ivan @mavrick @thanhlcm90 @MystK @pmarrapese Can you please test #32 branch to see if that installs correctly?

Also, try running `node-e "console.log('H/w CRC Supported: ' + require('./sse4_crc32').isHardwareCrcSupported())"` and check if it returns true on your machines (assuming that H/W CRC is supported on your processors).

Thanks

[2015-06-13 21:39] ivan commented on #29
Yep, that branch builds fine and I get `true` from `isHardwareCrcSupported()`.

 `.calculate()` seems to return the right results.

Thanks for the fix!

[2015-06-13 21:45] anandsuresh commented on #29
@ivan Awesome! Will merge this change into master and release a new version.

[2015-06-13 21:51] anandsuresh commented on #29
Fixed in release v3.2.0.

[2015-06-13 21:51] #29 closed

[2015-06-13 23:11] Thessalie commented on #29
Congrats & thanks !

Le sam. 13 juin 2015 23:51, Anand Suresh <notifications@github.com> a
écrit :

[2015-07-08 10:04] MKHenson opened #33 "Cannot build on windows7 - "Linkage specification must be global""
Hi @anandsuresh

I have been struggling to get sse4_crc32 to install on my Windows 7 machine. I have node-gyp installed and its working as it is able to compile both the hello world examples as well as many of the other node_modules. However I cannot seem to get it to work for this project. I came here via gcloud and am at a bit of a loss on what to do <:/

My only thought is that there might be s

[2015-07-08 14:32] MKHenson commented on #33
Was able to resolve this. I had to install VS2012 (2010 does not look like its supported) and use the command

    npm install --msvs_version=2012

If anyone else gets here - make sure you do it through windows cmd, as it didn't work when I used the SDK console window.

[2015-07-08 14:32] #33 closed

[2015-07-08 18:40] anandsuresh commented on #33
Thanks for the resolution update @MKHenson.

[2015-08-05 01:06] Raynos opened #35 "Breaks on node@0.10.26"
You've changed to nan@2 in a minor version.

This breaks tchannel on node 0.10.26

[code]

[2015-08-05 02:01] Raynos opened #36 "Latest version leaks memory"
We are seeing around 200mb/hr being leaked due to nan@2.0.0.

I recommend you downgrade nan.

We re-deployed with sse4_crc32@3.2.0 to avoid the leak.

[2015-08-05 05:09] anandsuresh commented on #36
@Raynos Thanks for the update. Sounds like an issue that @rvagg could comment on.

In the mean time, I'm  reverting the changes in the update and pushing out a new version with the old nan. Then re-releasing a new major version with nan@v2

[2015-08-05 05:23] anandsuresh commented on #35
Fixed in release v3.4.0

[2015-08-05 05:23] #35 closed

[2015-08-05 05:24] anandsuresh commented on #36
Fixed in release v3.4.0

[2015-08-05 05:24] #36 closed

[2015-08-05 06:07] Raynos commented on #35
Thank you.

[2015-08-15 16:11] kkoopa commented on #36
Fixed since NAN 2.0.5.

[2015-08-22 14:23] paryasomayajulu opened #39 "Issue installing gcloud using command "npm install --save gcloud""
HI,
I have an issue installing gcloud package on my machine . I am getting following error. So could you please help me out with this.
----------------------------------------------------------------------------------------------------

F:\Projects\Kiran\Bald-Eagle\mcapi>npm install --save gcloud
npm WARN package.json mc-api@1.0.0 No README data
npm WARN package.json mc-api@1.0.0 No license field.

[2015-08-22 17:06] anandsuresh commented on #39
@paryasomayajulu Can you please try cloning the sse4_crc32 repo, building it (`make clean; make`) and running `npm run-script debug` and paste the response here?

Also, what platform are you running on?

[2015-08-22 18:45] ivan commented on #39
The relevant part is the

[code]

You need Python 2.7 and Visual Studio 2013 (or 2015?) installed to build native addons on Windows.

[2015-08-22 18:49] ivan commented on #39
You say in https://github.com/GoogleCloudPlatform/gcloud-node/issues/817 that "Python thing is that i regularly get and i am ignoring it since past.".  If you ignored it in the past without consequence, it was probably because a native addon was optional.  I'm guessing sse4_crc32 is not optional for gcloud-node, so you need Python and VS2013.

[2015-08-22 19:30] anandsuresh commented on #39
I'd second @ivan's advice. If you have in fact never built any native addons in the past, then that might explain how you got through without any issues. SSE4_CRC32 uses node-gyp to build the native add-on and requires python to be installed.

[2015-08-26 23:14] mziccard opened #40 "Module did not self-register when require(gcloud)"
I am experiencing the infamous problem already mentioned in https://github.com/GoogleCloudPlatform/gcloud-node/issues/681.
To reproduce the error:
package.json:
[code]
test.js:
[code]
node version: 0.12.7
npm version: 2.11.3
linux kernel: 3.14.22-100.fc19.x86_64
gcc: 4.8.3

Compilation (`npm install`) goes just fine:
[code]
Executing the test with `node test.js` causes the error:
[code]
The test p

[2015-08-26 23:31] anandsuresh commented on #40
@mziccard No idea. Haven't had a chance to test this stuff on Node 12 yet. But I have seen a bunch of people run into this error on different NPM modules when running on node 0.12.x.

[2015-08-26 23:54] mziccard commented on #40
@anandsuresh Thanks for the fast feedback. I noticed a growing number of such errors as well and today I stumbled upon it myself. If you ever find out anything or decide to test your module with Node 12 please keep me posted.

[2015-08-27 00:14] anandsuresh commented on #40
For sure. I have bunch of stuff on my plate at the moment, but when I do get a chance I'd like to try this out myself.

[2015-08-27 13:38] mziccard commented on #40
I realized that I was unknowingly using node-pyp built for a previous version of node (0.10.33). Since I had `/usr/bin/node` pointing to node version `0.10.33`, executing `path/to/0.12.7/npm install -g node-pyp`  triggered no node-pyp rebuild. Updating `/usr/bin/node` to point to node version `0.12.7` fixed this non-existing issue.

Your module works like a charm in node 0.12.7 :smile:

[2015-08-27 15:31] anandsuresh commented on #40
Sweet. Glad it worked out in the end.
On Aug 27, 2015 6:38 AM, "Marco Ziccardi" <notifications@github.com> wrote:

[2015-08-27 16:16] #40 closed

[2015-08-28 09:33] gagern opened #41 "Illegal instruction initializing fallback"
`node -e 'require("./")'` fails for me with `SIGILL`. If I do `node-gyp rebuild --debug`, the issue vanishes. Running things through `gdb` I see the backtrace:

[code]

and the disassembly:

[code]

The way I read this, the `-msse4.2` flag you're passing to the compiler causes the use of SSE4.2 features even on those platforms which don't support it. At least for optimized builds. In a sane build

[2015-08-28 09:48] gagern commented on #41
I've just asked about [per-source cflags](http://stackoverflow.com/q/32268095/1468366) with gyp on Stack Overflow.

[2015-08-31 21:12] gkorland commented on #39
Is there a way to fallback to software based implementation if the hardware based can't be built?

[2015-08-31 21:19] anandsuresh commented on #39
@gkorland The software is designed to use the best possible implementation that works. So it should, at runtime, pick the best variant (H/w or S/w).

[2015-08-31 21:45] gkorland commented on #39
@anandsuresh the problem is that I'm trying to deploy the app on a PaaS that doesn't allow the build process to run.

[2015-08-31 21:47] anandsuresh commented on #39
That might be hard. Not sure how you'd plan on installing the module without building it! :( Perhaps if you could give me more information, I might be able to make some suggestions.

[2015-08-31 21:51] gkorland commented on #39
It's pretty simple I'm using gcloud which in turn uses ss4_crc32.
My node app server is deployed on Azure Web App which doesn't have VSbuild.
So,I'm getting " error MSB3428: Could not load the Visual C++ component "VCBuild.exe"

[2015-08-31 21:54] anandsuresh commented on #39
So the issue here is that both the hardware and software implementations are in C and need to be compiled to be used. Perhaps you can build the component offline and check it into the repository. Not the best way to deal with it, but lacking a build environment, you might need to get creative.

[2015-08-31 22:03] anandsuresh commented on #39
@paryasomayajulu I'm closing this issue for now. Feel free to reopen it if you are still facing problems.

[2015-08-31 22:03] #39 closed

[2015-09-03 17:15] anandsuresh commented on #41
I see what you mean. Seems like a good thing to do. I didn't realize this would be a problem! Will look into it during some downtime.

[2015-09-08 23:40] OverclockedTim opened #43 "Build fails on new Node 4.0 install"
I went around and around on build issues similar to other git closed issues and finally just did a complete 100% wipe of node on my system and installed from scratch.  I am attempting to include gcloud which includes sse4_crc32@3.4.0.  This now quite reproducibly fails to build every time with node-gyp.  This is on a Mac and I do have XCode command line tools installed.

Output of npm install:

In

[2015-09-13 06:43] ivan commented on #43
gcloud needs to bump their sse4_crc32 major version to 4 in package.json.  sse4_crc32 4.0.0+ supports iojs 3.0 and node 4.0.

[2015-09-13 13:49] shinzui commented on #43
sse4_crc32@4.0.1 fails to build on travis.

[code]

[2015-09-13 15:31] ivan commented on #43
@shinzui I think that's happening because Travis is using a compiler that isn't C++11-capable.  See https://github.com/nodejs/nan/issues/435

Try a `.travis.yml` with

[code]

[code]

Or see the https://github.com/nodejs/nan/blob/master/.travis.yml that nan uses.

[2015-09-13 16:53] shinzui commented on #43
@ivan Thanks. That fixed it.

[2015-09-13 23:19] #41 closed

[2015-09-13 23:24] anandsuresh commented on #43
@OverclockedTim Just released v4.1.0. It should address the problems mentioned. Please feel free to reopen this issue if the problem persists.

@ivan Thanks for the support.

[2015-09-13 23:24] #43 closed

[2015-09-16 17:57] swilly22 opened #45 "make fails"
roilipman:sse4_crc32 roilipmangmailcom$ make
./node_modules/.bin/node-gyp clean
make: ./node_modules/.bin/node-gyp: No such file or directory
make: [clean] Error 1 (ignored)
npm install .
npm WARN engine cryptiles@2.0.5: wanted: {"node":">=0.10.40"} (current: {"node":"0.10.32","npm":"1.4.28"})
npm WARN engine hoek@2.16.1: wanted: {"node":">=0.10.40"} (current: {"node":"0.10.32","npm":"1.4.28"})
|

[2015-09-16 18:01] anandsuresh commented on #45
What platform and compiler versions are you using?

[2015-09-16 18:05] swilly22 commented on #45
mac,
./node_modules/.bin/node-gyp --version v2.0.2

[2015-09-16 18:05] anandsuresh commented on #45
What about gcc/clang?

[2015-09-16 18:09] swilly22 commented on #45
gcc --version
Configured with: --prefix=/Applications/Xcode.app/Contents/Developer/usr --with-gxx-include-dir=/usr/include/c++/4.2.1
Apple LLVM version 6.1.0 (clang-602.0.53) (based on LLVM 3.6.0svn)
Target: x86_64-apple-darwin14.5.0
Thread model: posix

clang --version
Apple LLVM version 6.1.0 (clang-602.0.53) (based on LLVM 3.6.0svn)
Target: x86_64-apple-darwin14.5.0
Thread model: posix

[2015-09-16 18:12] anandsuresh commented on #45
Also what do you get for running `libtool -h`

[2015-09-16 18:14] anandsuresh commented on #45
Also, do you have the full XCode system installed or just the command line tools?

[2015-09-16 18:18] swilly22 commented on #45
libtool -h
error: libtool: unknown option character `h' in: -h
Usage: libtool -static [-] file [...] [-filelist listfile[,dirname]] [-arch_only arch] [-sacLT] [-no_warning_for_no_symbols]
Usage: libtool -dynamic [-] file [...] [-filelist listfile[,dirname]] [-arch_only arch] [-o output] [-install_name name] [-compatibility_version #] [-current_version #] [-seg1addr 0x#] [-segs_read_only_addr 0x#]

[2015-09-16 18:20] anandsuresh commented on #45
Lastly, please try running `ls -la $(which libtool)`. It should be pointed to `/usr/bin/libtool`, unless you have installed something that pointed it to a different version of libtool. The issue is that the version of libtool on the $PATH doesn't support the `-static` flag.

[2015-09-16 18:26] swilly22 commented on #45
ls -la $(which libtool)
-r-xr-xr-x  1 root  admin  174140 Jan 11  2015 /opt/local/bin/libtool

Thank you!

[2015-09-16 18:28] anandsuresh commented on #45
That's the culprit. That version probably doesn't support the `-static` flag.

You might want to switch that over to use `/usr/bin/libtool` and the world should be good again.

I'm going to close this now. Please feel free to re-open if the issue persists.

[2015-09-16 18:28] #45 closed

[2015-09-25 00:50] ribbles opened #46 "Not working on Windows again"
[code]

[2015-09-28 23:48] amyrlam opened #47 "error on npm install, not sure how to troubleshoot further?"
Please let me know if you have any ideas to help!

OSX 10.10.5
node-gyp@3.0.3

gcc --version
Configured with: --prefix=/Applications/Xcode.app/Contents/Developer/usr --with-gxx-include-dir=/usr/include/c++/4.2.1
Apple LLVM version 7.0.0 (clang-700.0.72)
Target: x86_64-apple-darwin14.5.0
Thread model: posix

clang --version
Apple LLVM version 7.0.0 (clang-700.0.72)
Target: x86_64-apple-darwin14.5.0

[2015-09-29 01:21] anandsuresh commented on #47
@rvagg It seems like a Nan issue to me, but my knowledge on the subject is quite limited. Any ideas/suggestions?

[2015-09-29 01:27] anandsuresh commented on #46
@ribbles Can you send more info about the build environment? Windows/VC++/Studio/node/npm versions, etc.

[2015-09-29 11:32] rvagg commented on #47
I think `sse4_crc32@3.4.0` is the problem, looks like it's only the latest version that works with the current NAN / Node v4

[2015-09-29 16:10] anandsuresh commented on #47
@amyrlam Are you running node v4? If so, then you need to upgrade to sse4_crc32 v4 as well. Pre v4 is only for pre-node v4 versions.

[2015-09-29 17:35] amyrlam commented on #47
Really appreciate the help! I am on node v4. Tried upgrading sse4_crc32 but seems like the same error?

$ node -v
v4.1.1

$ npm install sse4_crc32 v4 https://gist.github.com/amyrlam/cf9d9cafde18fba89f12

$ npm install https://gist.github.com/amyrlam/69bf461655379dab6551

latest npm-debug.log: https://gist.github.com/amyrlam/72c0dcbbcbe9c666a3fb

[2015-09-29 19:07] anandsuresh commented on #47
@amyrlam Not sure why bufferutil is being installed when you're attempting to install sse4_crc32. Can you please try running `npm install sse4_crc32@v4.1.0` in a temp folder and see if that works?

[2015-09-29 19:31] amyrlam commented on #47
It works for me in /tmp.

[code]

[2015-09-29 20:45] anandsuresh commented on #47
Ok. That means that the issue isn't with the CRC module, but is caused by some other issue specific to the package you are building/installing. Is it a private module you are trying to build?

[2015-09-29 22:40] amyrlam commented on #47
I run an ember serve

[code]

then do an `npm install` which leads me to this error. So maybe the problem is unrelated and with gcloud, not sure.

[2015-09-29 22:47] anandsuresh commented on #47
Aah! I see. It seems you're running an older version of node-gcloud. Please update to the latest version because it no longer depends on SSE4_CRC32. That should fix the issue for you in a more permanent way! ;)

[2015-09-30 05:22] amyrlam commented on #47
@anandsuresh You're totally right, I updated gcloud to 0.23.0 (latest version) and no more problems. I really appreciate the help in figuring this out! Apologies it was unrelated to sse4_crc32!

[2015-09-30 05:22] #47 closed

[2015-09-30 05:23] anandsuresh commented on #47
No worries.
On Sep 29, 2015 10:22 PM, "Amy Lam" <notifications@github.com> wrote:

[2015-10-05 08:58] akashkrishnan commented on #46
I've been getting the same issue for several weeks now.

OS: Windows 10
VC++: 2013 and 2015
Node: 4.1.1
npm: 2.14.6

[2015-10-05 16:42] anandsuresh commented on #46
@ribbles @akashkrishnan What module are you trying to install? Is it the `node-gcloud` module? Also, I'd need logs for your npm install process to figure out more stuff.

[2015-10-05 16:53] akashkrishnan commented on #46
Yes, it is the `gcloud` module. Where would I find the npm logs? A debug log isn't created by npm in the root directory.

Running `npm install --save gcloud` results in the following console output:

[code]

[2015-10-05 17:20] anandsuresh commented on #46
@rvagg @kkoopa Does Nan v2 support older versions of Node.js, mainly 0.8, 0.10 and 0.12? I have a feeling that most of these issues that are being reported are a result of version mismatches (i.e. people using an incorrect version of the sse4_crc32 library).

[2015-10-05 17:22] anandsuresh commented on #46
@ribbles @akashkrishnan Please standby. I think I'll need to push some changes to the gcloud module to get this to work.

Also, I don't have access to a Windows 10 machine. The best I've been able to test on the Windows side was Windows 8.

[2015-10-05 18:10] kkoopa commented on #46
Yes

On October 5, 2015 8:20:14 PM GMT+03:00, Anand Suresh <notifications@github.com> wrote:

[2015-10-05 18:49] anandsuresh commented on #46
Thanks @kkoopa!

@akashkrishnan What version of gcloud are you trying to build? Can you please use the latest version?

[2015-10-05 18:52] akashkrishnan commented on #46
@anandsuresh I get the same issue with `npm install --save gcloud@latest`. The `package.json` under my gcloud installation also says `0.23.0`, which is the latest.

[2015-10-13 00:25] nemo opened #49 "Node 4/4.2 support"
Hey folks,

Looks like we can't install `sse4_crc32` when upgrading to node 4/4.2. Your package is used in [gcloud-node](https://github.com/GoogleCloudPlatform/gcloud-node).

Se error below:
[code]

G-cloud Ref: GoogleCloudPlatform/gcloud-node#909

[2015-10-13 00:29] anandsuresh commented on #49
You are currently referencing sse4_crc32 v3.4.0 which isn't compatible with node v4. Please upgrade your node-gcloud module to a newer version and retry. sse4_crc32 v4 is the minimum version that supports node v4.

[2015-10-13 00:29] anandsuresh commented on #49
Closing this issue now. Please feel free to reopen if you're still encountering a problem.

[2015-10-13 00:29] #49 closed

[2015-10-28 21:11] Ryanc1256 commented on #46
@anandsuresh I am having trouble as well, windows 10... I get this error...

..\src\crc32c_sse42.cpp(52): error C3861: '_mm_crc32_u8': identifier not found [node_modules
\sse4_crc32\build\crc32c_sse42.vcxproj]
..\src\crc32c_sse42.cpp(57): error C3861: '_mm_crc32_u64': identifier not found [\node_module
s\sse4_crc32\build\crc32c_sse42.vcxproj]
..\src\crc32c_sse42.cpp(59): error C3861: '_mm_crc32_u3

[2015-10-28 21:12] anandsuresh commented on #46
@Ryanc1256 Versions in use? NPM, Node, MsBuild, VC++, Windows etc.

[2015-10-28 21:13] anandsuresh commented on #46
Also, can you paste logs for the `npm install` process as well?

[2015-10-28 21:21] Ryanc1256 commented on #46
node: 4.2.1
npm: 3.3.10
Visual Studio 2015
Windows 10

[code]

[2015-10-28 21:44] kkoopa commented on #46
You're including the wrong header. `CRC32` is part of SSE 4.2 which lies in `nmmintrin.h`. `smmintrin.h` is for SSE 4.1.

[2015-10-28 21:53] anandsuresh commented on #46
Whoops!!! I wonder how long it has been that way!! Probably since the very first version when I was testing it out on SmartOS. Surprisingly it works fine on SmartOS, FreeBSD, and Linux with `smmintrin.h`. Thanks for that catch @kkoopa.

@Ryanc1256 @ribbles @akashkrishnan Please clone this repo, and try running `npm install` on the `anand-intrinsics` branch to see if that works.

[2015-10-28 22:18] Ryanc1256 commented on #46
@anandsuresh yeah that worked... looks good

[2015-10-28 22:18] anandsuresh commented on #46
Sweet! Closing this out and release a new version with the fixes.

[2015-10-28 22:18] #46 closed

[2015-10-28 22:41] anandsuresh commented on #46
Released sse4_crc32 v4.1.1.

[2016-01-27 02:37] Chrisdf opened #51 "Broken on Ubuntu 15.04"
The stack trace I get when running 'npm install' is the following:

make: Entering directory '/home/chrisfrantz/Dev/xenforma_server/node_modules/sse4_crc32/build'
  CXX(target) Release/obj.target/crc32c_sse42/src/crc32c_sse42.o
make: g++: Command not found
crc32c_sse42.target.mk:89: recipe for target 'Release/obj.target/crc32c_sse42/src/crc32c_sse42.o' failed
make: *** [Release/obj.target/crc32c_s

[2016-01-27 02:41] addaleax commented on #51
You need a compiler for building native modules. Doing a `sudo apt-get install build-essential` should install everything necessary so that `npm install` works.

[2016-01-27 19:07] anandsuresh commented on #51
@Chrisdf Seems like you don't have the prerequisites (g++, in this case), as @addaleax pointed out.

I'm gonna close this issue for now. Feel free to re-open it if the `npm install` fails after installing gcc.

[2016-01-27 19:07] #51 closed

[2016-02-29 23:45] JunielKatarn commented on #46
@kkoopa Thanks fot that. That include solves issues in Voxer-unrelated projects too :)

[2016-04-09 02:11] rwaldron opened #52 "Help finding solution to mips compilation failure"
https://github.com/tessel/t2-cli/issues/645#issuecomment-207675894

Is there anyway to work around this? Even if it's a JS only "fallback"? It's been a long day, so this might not even make sense

[2016-04-09 18:23] anandsuresh commented on #52
@rwaldron Interesting problem. Having never worked on the MIPS architecture, I'm a bit intrigued as to how that might work. I cannot guarantee a working solution, but I can spend some time this weekend to see if I can get it to work.

In the mean time, are there any MIPS resources (QEMU VMs, documentation) that you can point me to that might help me target the specifics of your platform?

[2016-04-09 20:21] rwaldron commented on #52
That's excellent and I really appreciate that you're willing to take the time to look at this! I'll try to be as helpful as possible :)

[2016-04-11 16:17] anandsuresh commented on #52
@rwaldron Did you get a chance to checkout pull-request #53? Does that solve your compilation issues?

[2016-04-16 20:02] #52 closed

[2016-04-25 06:04] noloader commented on #20
@ashi009:

For completeness, I ran into the issue on a SSE4.1 machine in my test environment. So I don't think its nullifying the project's name. The machine is a Core2 Duo, Debian 8.2, GCC 4.9 combination. It lacked SSE4.2 and String and Text New Instructions (STNI) instructions.

[2016-04-25 13:01] anandsuresh commented on #20
Can you please re run the test with the latest version (v5.0.0)?

[2016-04-26 03:32] ashi009 commented on #20
I will do this asap.
On Mon, Apr 25, 2016 at 11:01 PM Anand Suresh <notifications@github.com>
wrote:

[2016-04-27 17:11] lxe opened #54 "nan 2.3.1 broke compilation of sse4_crc32 on node v0.10.42 (Darwin)"
ref: https://github.com/nodejs/nan/issues/562

Compilation/build of sse4_crc32@5.0.0 fails with the following errors:

[code]

Works with nan 2.3.0 (via forced shrinkwrap). Maybe nan 2.3.1 should not have been a patch release?

[2016-04-27 17:23] anandsuresh commented on #54
@lxe Thanks for reporting this.

This definitely seems to be a nan issue... not related to this library. Not a lot to be done here. I'm going to close this out, since this is already linked to the issue you've opened on the nan repo. Feel free to re-open this if the nan resolution fails.

[2016-04-27 17:23] #54 closed

[2016-04-27 17:29] lxe commented on #54
Looks like https://github.com/nodejs/nan/commit/f8b7c875d04d425a41dfd4f3f8345bc3a11e6c52 should make sse4_crc32 compile again.

[2016-04-27 17:30] anandsuresh commented on #54
Sweet!

[2016-05-02 09:24] ivan opened #56 ".calculate does table lookup on machine with hardware CRC and vice versa"
I think https://github.com/Voxer/sse4_crc32/blob/master/sse4_crc32.js#L83 is doing the exact opposite of what it's supposed to - on machines with hardware CRC, it does a table lookup; on machines without hardware CRC, it tries to use hardware CRC.

I noticed this when I tried to use sse4_crc32 5.0.0 on an armv7l machine:

[code]

[2016-05-02 16:13] #56 closed

[2016-05-02 16:18] anandsuresh commented on #56
@ivan Fixed in v5.1.0. Thanks for reporting this bug.

[2016-05-13 08:36] vitali-ausianik opened #59 "Compatibility with nodejs 6"
Looks like it is not compatible with nodejs version 6 - "node-gyp rebuild" fails on it

[2016-05-13 08:38] addaleax commented on #59
It works for me. Can’t speak for the maintainer here but I’d say it might be helpful if you included your OS version here and maybe the output and/or the npm-debug.log…?

[2016-05-13 08:41] anandsuresh commented on #59
Just tried running it with node v6.1.0 and it works just fine.

As @addaleax said.... got any logs?

[2016-05-13 10:16] vitali-ausianik commented on #59
Sorry guys, looks like it is related to snappystream package that uses old version (^4.1.1) sse4_crc32

[2016-05-13 10:17] vitali-ausianik commented on #59
i mean https://github.com/dudleycarr/snappystream/blob/master/package.json#L32

[2016-05-13 16:47] anandsuresh commented on #59
Yup. That would do it!. Closing this now. Feel free to re-open if the problem persists.

[2016-05-13 16:47] #59 closed

[2016-06-05 10:17] ronenm opened #61 "Install fails on node-gyp rebuild"
Hi,

I'm getting the following errors when trying to install the package.

Versions:
npm 3.9.3
node v6.2.1
node-gyp.js - V3.3.1
gcc 5.4.0 (installed specifically for the sse4_crc32 because I saw the bug may relate to gcc version)
libtoole - /usr/bin/libtool

Thanks

[log.txt](https://github.com/Voxer/sse4_crc32/files/299284/log.txt)

[2016-06-05 10:31] addaleax commented on #61
@ronenm Are you sure node-gyp picks up on the fact that it should use your gcc 5.4.0 installation? `This version of node/NAN/v8 requires a C++11 compiler` sounds a lot like it does not (gcc 5.4.0 definitely supports compiling Node.js addons)

[2016-06-05 13:50] ronenm commented on #61
@addaleax you are right. I installed gcc on /usr/local/bin while node-gyp probably was originally compiled and used /usr/bin/gcc (which was 4.4.7).

To solve this I linked /usr/local/bin/gcc (and g++) to /usr/bin and re-installed npm and node-gyp (just to be sure).

Now everything's working fine. Thanks allot  :+1:

[2016-06-05 13:50] #61 closed

[2017-01-24 08:02] michaelfreund opened #62 "cc"

[2017-01-24 08:03] #62 closed

[2017-02-11 17:07] Somebi opened #63 "error while npm install"
[code]

[2017-02-11 23:09] anandsuresh commented on #63
Can you run the npm install with debug and post logs please?

[2017-02-12 10:10] Somebi commented on #63
Sure, here you go. Will that be enough?

http://pastebin.com/3VK3G0EG

[2017-02-12 10:21] Somebi commented on #63
Btw i'm installing it inside docker container with Ubuntu 14.04 inside it.

[2017-02-12 19:13] anandsuresh commented on #63
Seems like you're missing g++ on the compile path.

[code]

[2017-02-12 19:14] anandsuresh commented on #63
I'm going to close this out. Feel free to re-open if the problem persists.

[2017-02-12 19:14] #63 closed

[2017-02-13 14:20] Somebi commented on #63
Add it to deps list.

[2018-01-23 19:45] Jeff-Mikkelson commented on #39
This is killing the Google Cloud Storage Node.js Client inside of Windows 10: https://github.com/googleapis/nodejs-storage

Per Google Cloud Storage instructions above,
1) I run npm install --save @google-cloud/storage
2) I try run the sample code but module.js reports "c:\......\node_modules\sse4_crc32\build\sse4_crc32.node" is not found
3) I run npm install sse4_crc32 --save and gyp reports Erro

[2018-01-23 19:52] Jeff-Mikkelson opened #64 "Google Cloud Storage Node.js Client inside of Windows 10 cannot find python.exe"
This is killing the Google Cloud Storage Node.js Client inside of Windows 10: https://github.com/googleapis/nodejs-storage

Per Google Cloud Storage instructions above,

I run npm install --save
I try run the sample code but module.js reports "c:......\node_modules\sse4_crc32\build\sse4_crc32.node" is not found
I run npm install sse4_crc32 --save and gyp reports Error: Can't find Python executable

[2018-01-29 09:33] MayaLekova opened #65 "Not installing on Windows 10 with VS2017"
When trying to install the module (as an optional dependency from another one) on a machine with Windows 10 and Visual Studio 2017 installed, I'm getting the following build error:
`MSBUILD : error MSB4025: The project file could not be loaded. Root element is missing.`

Here's the full output from npm:
[code]

As far as I read the other Windows-related issues this problem is not mentioned, so I'm

[2018-01-30 19:30] anandsuresh commented on #65
Hi @MayaLekova, I haven't had tested this module much on the Windows platform, partly because I don't develop on that platform. Can you please re-run the installation with debug flags enabled to get more detailed logs for this issue and post them here?

[2018-01-30 19:37] anandsuresh commented on #64
Hi @Jeff-Mikkelson,

Sorry for the late response on this one. Seems like the build system (node-gyp) isn't able to find any python executable, which could mean that the PYTHON environment variable isn't being passed through to the build script when it is spawned as part of the `npm install` process. I haven't developed on the Microsoft platform in a very long time, so I'm not very familiar with th

[2018-02-06 12:13] MayaLekova commented on #65
Hello @anandsuresh , sorry for the late reply! I've ran `npm install --verbose` and I'm attaching the output:
[sse_debug.log](https://github.com/anandsuresh/sse4_crc32/files/1698958/sse_debug.log)

Hope that helps! If you need me to try with any patch, will be more than happy to assist you.

[2018-02-08 02:58] #65 closed

[2018-02-08 03:08] anandsuresh commented on #65
@MayaLekova can you please try again with the latest build and see if that helps? @zbjornson has fixed this issue.

[2018-02-08 03:09] anandsuresh commented on #64
Hey @Jeff-Mikkelson Do you want to try the latest build to see if that fixes your problem?

[2018-02-08 17:35] anandsuresh commented on #64
Closing this for now. Feel free to reopen if the issue persists.

[2018-02-08 17:35] #64 closed

[2018-02-12 19:09] MayaLekova commented on #65
Hello again,

I tried installing the module with "npm install" and I get the same error (for version 5.2.0). However I also tried downloading the latest version of the source and building it manually. "npm install" in the root directory still fails, but it creates a solution file for an older version of Visual Studio. When I open it, VS upgrades the project files to its new format and I'm able to

[2018-02-12 19:20] zbjornson commented on #65
@MayaLekova can you attach the debug log again please? Also, can you try `node-gyp rebuild --msvs_version=2017`?

[2018-02-12 19:22] zbjornson commented on #65
(If you aren't setup with node-gyp globally, you can also pass that option to npm, `npm install --msvs_version=2017`.)

[2018-02-12 19:37] MayaLekova commented on #65
Dear @zbjornson ,

Thank you for the tips!

After trying the `--msvs_version=2017` flag I ended up having the error reported [here](https://github.com/nodejs/node-gyp/issues/1144). Which led me to the conclusion that my globally installed node-gyp version was too old (3.4) and doesn't support VS2017. After installing node-gyp v3.6.2 globally, the installation now is successful! :)

[2018-02-12 19:38] zbjornson commented on #65
Awesome 🎉!

[2018-05-16 21:49] NickNaso opened #69 "N-API support"
Node 8 introduced feature called N-API which is aimed at reducing maintenance cost for node native addons.
**sse4_crc32** is a popular module, and in order to help the Node.js community make the important transition to N-API, we are hoping you will be able to work with us in order to migrate **sse4_crc32** to N-API. Your support and feedback is important in making this effort a success.

We (N-API

[2018-05-17 16:35] anandsuresh commented on #69
This is awesome! I've been toying with the idea of porting this to the N-API module for a while, but haven't had the time to follow through.

Have taken a peek at the code you have and it seems good to me. Given the nature of the change, I'm thinking this should go out as a major release (v6) while keeping v5 as a NAN module for backwards compatibility.

Feel free to shoot me a PR. Also let me kno

[2018-05-17 17:14] NickNaso commented on #69
Hi @anandsuresh,
if you agree and want experiment with N-API you can create a branch and call it "napi" so I can execute the PR on it.
After that we can iterate to over it and at the end publish a tagged version of **sse4_crc32** like reported here: https://nodejs.org/en/docs/guides/publishing-napi-modules/
In this way an end user can install and test the N-API version of the module that isn't the

[2018-05-18 21:59] anandsuresh commented on #69
Sounds good to me. New branch `napi` created.

[2018-05-19 01:39] NickNaso commented on #69
OK Just did the PR here [https://github.com/anandsuresh/sse4_crc32/pull/70](https://github.com/anandsuresh/sse4_crc32/pull/70)

[2018-05-21 16:35] anandsuresh commented on #69
Sweet. I have been meaning to make changes to the interface to the library, mainly adding a stream-based interface and updating some of the existing ones. Maybe this would be a good place to start. I worked on some of the changes this weekend. Still need to get to the tests and update the benchmarks. Will get to it sometime this week. Does that work for you?

[2018-05-21 18:48] NickNaso commented on #69
It sounds good. Keep me updated about that. I'm available to help on this.

[2018-05-31 04:49] anandsuresh commented on #69
Hey Nick, Got the changes in and tested.

[2018-05-31 07:12] NickNaso commented on #69
Hi @anandsuresh I looked at code and it seems good to me. It's a good start for the next release.

[2019-01-18 05:21] dinvlad opened #73 "Combine 2 CRCs"
Hi folks,

Is it possible to use this library to combine 2 CRC-32C hashes, similarly to the `zlib.crc32_combine()` function? Or do you have recommendations on which library to use (sorry of this is off-topic)?

Thanks

[2019-06-07 21:34] transcranial opened #74 "Fails to build on node v12"
[code]

Build with node-gyp fails on node v12, but works fine on node v11. Any ideas why?

[2019-06-20 12:54] DanielRuf commented on #74
Check the log / errors a few lines above.
Some of the errors is for example `error: no matching function for call to ‘v8::String::Utf8Length()’`

[2019-06-20 12:54] DanielRuf commented on #74
Check the log / errors a few lines above.
Some of the errors are for example `error: no matching function for call to ‘v8::String::Utf8Length()’`

[2019-08-07 16:53] JAndritsch commented on #74
Are there plans to fix this soon?

[2019-08-19 17:55] fancy-rabbit commented on #74
is there any plans to resolve it before node12 start being active LTS two month later?

[2019-08-19 18:12] DanielRuf commented on #74
So far it seems there is not much C code. I have no experience with C but I could give it a try.

[2019-08-19 20:33] DanielRuf commented on #74
So far it seems there is not much C++ code. I have no experience with C++ but I could give it a try.

[2019-08-23 15:27] #74 closed

[2019-09-26 05:24] anandsuresh commented on #69
Merged in #71

[2019-09-26 05:24] #69 closed

[2019-10-09 15:37] gabrielschulhof opened #77 "Benchmark fails to run on Node.js 12.11.1"
[code]

At first blush it looks like it might need a `Math.round()`.

[2019-10-09 17:45] anandsuresh commented on #77
Yup. Just got a fix in. Thanks for catching this and reporting it.

[2019-10-09 18:14] #77 closed

[2020-04-20 01:55] chulanovskyi-bs opened #79 "Failed to load in Docker env"
Hi!

I'm using Docker on my macOs Catalina 10.15.4 and the issue is firing just if the `sse4_crc32` lib is imported (not even called):

[code]

The `dockerfile` as following:

[code]

If I use local env (regular, without docker) - everything works without an error. I've also tried other `node` docker images, like `mhart/alpine-node`, but it doesn't helped.

[2020-04-20 02:14] anandsuresh commented on #79
Need more detailed logs to figure this out. On the face of it, the `Exec format error` is usually indicative of the fact that the compiled binary (crc32c.node) is not built for the target architecture you are running on. It is also possible that this is specific to docker on MacOS.

[2020-04-20 02:24] chulanovskyi-bs commented on #79
Ok, how can I help with this? Is there any 'debug' mode for installation?

[2020-04-20 13:07] anandsuresh commented on #79
A good starting point would be the full logs from the run.

[2020-04-20 13:07] anandsuresh commented on #79
Also, version numbers of the key components would be helpful.

[2020-04-21 22:52] chulanovskyi-bs commented on #79
Sure, here is what I've prepared:
* Minimum reproduced repo: [link](https://github.com/chulanovskyi-bs/mvp)
* The logs from the _outside_ docker env run: [link](https://gist.github.com/chulanovskyi-bs/39f5bc593c8e428703a8ee2311db44bd)
* The logs from the docker env run: [link](https://gist.github.com/chulanovskyi-bs/543f56e5735ef12d108d07f5c2cb885a)

[2020-04-25 01:39] anandsuresh commented on #79
Can you confirm the C/C++ compiler you are using outside of docker?

[2020-04-25 22:03] chulanovskyi-bs commented on #79
Did not perform any specific (dedicated) installations of the compiler. I guess it is default that comes with the OS

How do I check it?

[2020-08-24 12:06] Brooooooklyn commented on #79
try [@node-rs/crc32](https://github.com/napi-rs/node-rs/tree/master/packages/crc32)

[2021-04-27 16:20] trivikr opened #82 "Benchmarking should be done with CRC32C implementations and not CRC32 implementation"
## Describe the bug
The benchmarking is done against pure JS CRC32 implementation, although it calls it CRC32C
https://github.com/anandsuresh/sse4_crc32/blob/15cf479892911afa4bfed9c8952690c2afd071fb/benchmark/single_fixed_size_buffer.benchmark.js#L44-L50

## Steps to reproduce
replit https://replit.com/@trivikr/test-sse4crc32-benchmark
Online CRC32 calculator https://crccalc.com/?crc=123456789&met

[2021-05-25 12:20] mpetrunic opened #84 "Not working on M1 chips"
dyld: Symbol not found: __Z18sse42_is_availablev
  Referenced from: /Users/****/Projects/lodestar/node_modules/sse4_crc32/build/Release/crc32c.node
  Expected in: flat namespace

version: 6.0.1

[2021-05-25 17:38] anandsuresh commented on #84
Don't have access to an M1 chip at the moment. Can you please paste the output of `npm run debug`?

[2021-09-27 17:14] jtbandes commented on #84
I'm running into this issue as well.

In case it helps, here's the output of `nm node_modules/sse4_crc32/build/Release/crc32c.node`. Notice that the requested symbol is marked as `U` for undefined: `U __Z18sse42_is_availablev`. This makes me think the function is being stripped out by the linker, or something like that... Maybe the function need some attribute added like `NODE_MODULE_EXPORT`?

[co

[2022-02-09 11:01] StBlackwood commented on #84
I am also facing this issue, anyone found a solution for this?

[2022-02-09 18:29] anandsuresh commented on #84
Sorry guys. I don't have access to an M1 Mac to be able to test this out. I'm happy to help get any PRs merged.

[2022-02-09 18:33] jtbandes commented on #84
BTW, I created a  faster pure-javascript implementation at https://github.com/foxglove/crc

[2022-02-25 16:52] mikaelsahlstrom commented on #84
See #89 for a solution for this.

[2022-03-27 17:43] anandsuresh commented on #84
Merged and published v7.0.0 with support for Apple M1 chips. Thanks @mikaelsahlstrom for the pull request.

[2022-03-27 17:43] #84 closed